<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>Terms & Agreement</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Read and Accept</ion-card-subtitle>
      <ion-card-title>TERMS AND CONDITIONS</ion-card-title>
    </ion-card-header>
    <ion-card-content>

By accessing or using any part of the HERO app, the service and/or content (i.e. any information, data, or other content or materials appearing or otherwise made accessible on or through the site or application), Service Users and third-party Service Providers agree to be bound by these Terms, which shall govern access to and use of the service. 

Modifications, updates and/or improvements to the site, application, services and/or content are likewise covered by these Terms. HERO may, at any time, without prior notice and at its sole discretion, modify, amend, change in part or in whole the Terms by posting the same to the site. Continued access or use of the site, application, service or content, after said posting signifies Service Users’ and third-party Service Providers’ unqualified acceptance of the modification, amendment and/or change, which are effective, retroactively, on the day of posting. 

The Service Users and third-party Service Providers hereby voluntarily give their consent to HERO to use for any lawful purposes and/or share their personal information to third parties and as may be required by law. 

Access and use of the application, services and/or the content are subject to specific laws, both domestic and international. The Service Users and third-party Service Providers assume full and sole responsibility to ensure that they access and/or use the services and the content only in compliance with such applicable laws. 

HERO does not and cannot warrant that the site, application, services and/or the content is legal outside the Philippines. The Service Users and third-party Service Providers assume full and sole responsibility if they opt to access the site, application, services and/or the content outside the Philippines.

1.	Services 

HERO, The Platform, shall connect Service Users and third-party Service Providers. 

2.	Relationship of the Parties 

HERO merely provides a link to Service Users to third-party Service Providers. It is not a service center nor is it an agent of the third-party Service Providers. HERO is not responsible nor liable to the Service Users and third-party Service Providers for any damage, loss, injury, and/or death in relation to the services received or rendered through HERO’s site or app. 


3.	Definition of Terms


Account – means any duly registered account which is required to be accessed to use the Platform, either by the Service User or third-party Service Providers. 

Agreement – means the Terms and Conditions agreed to by a Service User or Service Providers which are binding upon its Acceptance. 

Platform - means the application on which the Service request is made. It includes:
a.	Requesting/Accepting Service requests
b.	Facilitating quotations of services from third-party Service Providers to Service Users;
c.	Other related services.

Service Providers – any technically skilled person who has duly registered for the purpose of offering or making his/her Services available to the Service Users. A person is presumed to be technically skilled if he/she is duly certified by the Technical Education and Skills Development Authority (TESDA) as such, or has completed technical skills training from a TESDA accredited institution/school

Service User – means any person, natural or juridical, who has duly registered an account with and used the Platform to request services offered by the third party Service Providers, whether the service was completed or not. 

Services – varies depending on the requirements of the Service Users.  Full details of the service inclusions can be seen at the “What’s included” part of the booking page.
 
Terms of Use – means the specific obligations which the Service Users and third-party Service Providers are bound to prior, during and after the completion of the Services requested via the Platform. 

User – means the Service User or the third-party Service Providers or both, as may be applicable. 

You/Your – may refer to the Service User or the third-party Service Providers or both, as may be applicable. 

Submission of Quotation (for Project Based Services – Appliance Repair, Electrical, Handyman, Plumbing) - The Service Provider can either send a Price Quote with our Price Quote function, or the Service Provider can send a message to the Service User to ask a clarificatory question or provide more information before submitting a Price Quote. All requests for Services from the Platform should be confirmed using the Price Quote function with a confirmation from the Service User.
 
The Service Provider is solely responsible for including VAT and any other government fees and tariffs (if any) in their Price Quotes. It is the Service Provider’s responsibility to collect and pay the required government taxes and is solely liable for any inaccuracies or incomplete tax remittances. 

4.	Service User’s Representations and Undertakings


By submitting your account application, you confirm the following:
a.	You are over 18 years of age.
b.	You intend to be either a Service User or a third-party Service Providers.
c.	All the information you have entered in this app either as a Service User or Service Provider are true and correct.
d.	Your use of the app does not violate any applicable law or regulation, which you are subject to.
e.	You undertake to pay for any Services requested through the use of the app.
f.	You have the authority to enter and be bound by these Terms of Use.


These Terms of Use include:
a.	You acknowledge and agree to HERO’s fees and its related policies.
b.	You acknowledge and agree that the third-party Service Providers is personally and solely responsible and liable for any claim for damage, loss, injury, and/or death related to the service provided or failed to provide.
c.	You agree that the HERO Platform is provided “as is” and without warranty.
d.	You agree that the HERO Platform is a technology and communications platform providing a way for accredited Service Providers to offer services to the duly registered Service Users.
e.	You undertake to pay any and all fees for booking third-party Service Providers through the HERO Platform.
f.	You undertake to hold HERO free and harmless from any and all forms and types of dispute in relation to the service provided by the third-party Service Providers.


5.	The HERO Platform (Function and Requirements for Use) 


The HERO Platform is a technology and communications platform that enables individuals or businesses (Service Users) to seek and obtain the professional services of accredited third-party Service Providers. HERO and The HERO Platform does not provide professional services. HERO shall not be responsible or liable for any services provided or failed to be provided by third-party Service Providers, including any damage or breach of warranty that may occur during and/or after the services have been performed. 

The Service Users must exercise caution and due diligence to protect their property and personal safety. By the use of the HERO Platform, the Service User agrees to hold HERO free from any and all claims for damages, loss, injury and/or death that may arise from dealing with third-party Service Providers, their conduct, and all the Services they provide. 

6.	Use of the App


Access to HERO Services is only possible after creation of an Account, where the Service User would be required to provide personal information and a Password, which you shall be solely responsible for, along with the following:

a.	You shall ensure that your Password is secured. However, you are expected to notify HERO of any breach to your Account’s security or any suspicion of unauthorized use. Otherwise, all transactions from your account shall be considered to have been made by you and you shall be responsible for the said transactions. HERO shall be free and harmless from any responsibility or liability in relation to wrongful or fraudulent use of your Account.
b.	Unless notice has been given, all transactions from your account shall be considered to have been made by you and you shall be responsible for the said transactions. HERO shall be free and harmless from any responsibility or liability in relation to wrongful or fraudulent use of your Account.
c.	You are expected to provide true, correct and accurate Information in your Account.
d.	You shall not use any automated system and/or scripts including but not limited to “robots”, “spiders”, “offline readers”, “scrapers”, etc. to access the App or any of its sub-apps without prior written authorization from HERO.
e.	You shall not open an Account for the sole purpose of collecting any information of the Service Providers, soliciting them for employment, or contracting any business with them without prior consent of HERO.
f.	You shall not use the HERO App with the intention of collecting in any manner any personal data of its Service Users for commercial or solicitation purposes.
g.	You shall not use the HERO App communication systems for any commercial or solicitation purposes.
h.	You shall not submit or send request messages which HERO’s Server cannot at a given time handle over the same period of time a person can handle by using conventional online web browser or mobile application. Provided however, that operators of public search engines may use spiders or robots to copy materials from the site for the purpose of creating publicly available searchable indices of the materials, but not caches or archives of such materials. HERO reserves the right to revoke the exceptions, as it may be deemed necessary.
i.	You shall not alter or modify any part of the app without written consent of HERO.
j.	You are prohibited from copying or distributing any content or information in the App without HERO’s written authorization.
k.	You shall not in any manner alter, modify, distribute, copy any part of the App.
l.	You shall not post any illegal, false, malicious, inaccurate, unauthorized, inappropriate, information or content in the App.
m.	You shall not violate any applicable laws and/or third party-rights when using the HERO App.
n.	You shall not in any manner change the billing process or structure found in the App.
o.	You shall not post any false or language inappropriate feedback.
p.	You may not use or access the HERO App in any way that adversely affects the performance or function of HERO’s Services or the App or interferes with the ability of authorized parties to access the App.


Terms of Use of Service Users and Service Providers: 

If you are using the Platform either as a Service User or Service Provider, you are bound by the following: 

Service Providers:
a.	You warrant that all the information you have provided in the HERO App are true, correct and accurate.
b.	You have the authority to represent and bind the legal entity in which you are connected to.
c.	You are qualified to and can perform the Services offered in this Platform and/or required by Service Users with reasonable care and skill.
d.	You acknowledge the right of HERO to verify the Information which you have provided in this Platform.
e.	You will not use the HERO App or any information regarding your profile or services in any manner to promote or market your own services or promote services which are not offered by HERO.
f.	You will not solicit or offer your services directly to the Service Users, at any time.
g.	You shall ensure that your services are deemed satisfactory by the Service Users.
h.	You agree to rectify any issues/back-jobs within thirty (30) days reckoned from the 5th day after completion of requested service or rectification.
i.	You agree to be bound by any other Guidelines which will govern the performance of the requested Services and are required of Service Providers using the HERO Platform.
j.	You shall pay all your own taxes due as a result of the Services facilitated through this Platform in accordance with Philippine laws.
k.	You will not use the Platform in any manner contrary to the Terms and Conditions which you have agreed to.

Service Users:
a.	You acknowledge your financial responsibility upon use and completion of the Services provided in the Platform and you shall not use the Platform knowing that you have no intention of paying or that you have no ability to pay the Services you have requested or you cannot meet your obligations to the Service Providers.
b.	You shall ensure payment of the Services purchased by you unless the Service Providers failed to perform the Services which you have requested, provided HERO is given notice of such failure and subject to the terms for  accepting and facilitating requests and provision of quotation of services; unauthorized alteration of the description of the Services already agreed upon; there is an apparent clerical or mathematical error on the quotations, provided notice was given to HERO regarding the error at least ___ hours before the rendition of service; or in case of doubt as to the identity of the Service Providers, such as but not limited to different identification photo posted on the HERO App and or failure to provide the proper HERO identification card. Non-payment based on the above grounds shall not be considered as breach provided HERO has been given prior notice.
c.	You shall not use the Platform for any fraudulent purposes such as but not limited to using any pricing, quotation or any other information found therein for business purposes, commercial interests or for any other illegal purposes.
d.	You understand the limitations on the warranty and liability of HERO with respect to your requested Services.
e.	You shall report any issue arising from a Service within twenty four (24) hours from the completion of the requested Services or five (5) days for project based service.
f.	You acknowledge that the Service Agreement is terminated upon the completion of the Service requested unless HERO receives a Report of any issue from the Service User within twenty four (24) hours or five (5) days if project based, from the completion of the Service. In which case, the HERO will rectify the issue, subject to the Limitations of Liability set forth in this Terms.


8. Payment for Services 

You understand and agree that there will be “Charges” for the services rendered by the third-party Service Providers. After you have received services obtained through your use of the Service, HERO will facilitate payment of the applicable Charges on behalf of the third-party Service Providers, solely as such third-party Service Providers' limited payment collection agent, using the preferred payment method you have designated when initiating or modifying your Account, (Cash Deposit or Non-Cash payment methods such as credit/debit card) which will be selected upon booking. A receipt shall be sent by email to your registered email address upon confirmation of payment. By utilizing the Services, it is understood and agreed that payment of the Charges in such manner shall be considered the same as payment made directly by you to the third-party Service Providers. Charges will be inclusive of applicable taxes where required by law. Charges paid are final and non-refundable. 

A.	Cash Deposit
Service user’s payment will be deposited through HERO’s bank accounts, details of which shall be provided through email upon confirmation of request for service. Proof of deposit shall be sent through email within ___ hours prior to the scheduled rendition of service, otherwise, the service request will not be considered as booked. You shall also receive acknowledgment of payment through your registered email address. 
B.	Non-cash transactions
Upon booking, to enable non-cash transactions, the Service User will have to input credit/debit card information to link to HERO App’s in-app payment system. Collection of payment from Service User for the account of the third-party Service Provider will be facilitated by the HERO App upon completion of selected service.


You understand and agree that (i) all Charges are immediately due and demandable and (ii) payment will be facilitated by HERO using the preferred payment method you have designated when initiating or modifying your Account. If your primary Account payment method is determined as not able to be charged for any reason whatsoever, you agree that HERO may, as the third-party Service Providers' limited payment collection agent, use the secondary payment method in your Account, if available. 

HERO reserves the right to establish, remove and/or revise Charges for any or all aspects of the Services at any time upon HERO's sole discretion. You will be responsible for Charges incurred under your Account regardless of your awareness of such Charges or the amounts thereof. 

Subject to existing laws and regulations (i.e. DTI and NTC regulations), HERO may, from time to time, provide random Service Users with random promotional offers and discounts which may result in different Charges for similar Services. 

9. Cancellations & Refund 

Cancellation Policy
Service requests may be cancelled at least two (2) hours prior to the scheduled rendition of the service request. Any request for cancellation shall be coursed only through the HERO platform.

In the event of cancellation, a cancellation fee of Php 200.00 shall be charged against the Service User or the Service Provider if cancellation of service request was made after the two (2) hour period.

A call out fee of Php 350.00 shall be charged against the Service User or the Service Provider if the Service User or Service Provider is flagged as no-show (was not able to appear on site within 30 minutes of the scheduled service).

The above rates may be changed by HERO, at its sole discretion, taking into account the current inflation rates and market conditions, subject to site posting of five (5) days prior the effectivity date at the HERO app.

Refund Policy
If you have been charged in error or have questions about your charges, please contact HERO at startnow19@gmail.com within twenty four (24) hours from provision of receipt.

10. Limitations of Liability 

You understand, acknowledge and agree that HERO shall not be liable for any and all claims for damages, loss, injury, or death in relation to the services provided by the third-party Service Providers. 

HERO is likewise not liable in the same manner for the following: 

a.	Any (direct, indirect, consequential, or punitive) damages, losses, or costs suffered, incurred, or paid by you, pursuant to, arising out of or in connection with the use, inability to use, or delay of our Platform.
b.	The accuracy, completeness, general quality of the service as performed by the third-party Service Providers.
c.	Any (personal) injury, death, property damage, or other (direct, indirect, special, consequential, or punitive) damages, losses, or costs suffered, incurred or paid by you, or any Third Persons whether due to (legal) acts, errors, breaches, (gross) negligence, willful misconduct, omissions, non-performance, misrepresentations, tort or strict liability by or (wholly or partly) attributable to the Service Providers during the performance of the requested Services and/or to due to force majeure or acts of God.
d.	Any punitive, special, indirect, or consequential loss or damages, any loss of production, loss of profit, loss of revenue, loss of contract, loss of or damage to goodwill or reputation, loss of claim during the performance of the requested Services.
e.	Any inaccuracy in the Information or Content submitted in the App by either its Service Users or Service Providers as made available in the Platform.
f.	Any advertisements and third party links or any representations made by any advertisements or third party links which may be found in the App.
g.	Any malicious, inappropriate, unauthorized, illegal Content or Information posted by Service Users, Service Providers or Third Parties in the App.
h.	Any infringement of Copyright Laws by any of its Service Users or Service Providers respecting any Information or Content which they warrant to be theirs.
i.	Any accuracy or usefulness of any Content submitted by its Service Users or Service Providers.

Liability on Service User’s Expectations

Service Users understand that HERO App has no liability if Service User’s expectations were not met, this being subjective and dependent on the nature of service rendered by the Service Providers. Scope of duties and responsibilities per services can be viewed at the “What’s Included” part of the booking page.   

11. Links 

The App may from time to time contain links to third-party Apps and/or advertisements. These Linked Sites may be provided solely as a convenience to You and not as an endorsement or sponsorship of what they provide. If you decide to access the links and use the advertised contents, you do so at your own risk. HERO shall not be responsible for any damage or loss caused by the use of these third-party apps, products or services, the links of which were found in the App. 

Any issues or concerns respecting any third-party good, products or services shall be forwarded to the third party or advertiser concerned. 

12. Disputes 

In the event of dispute between the Service User and a third-party Service Provider, the Service Users and the third-party Service Providers understand, acknowledge and agree that HERO is not in any part of the dispute and that they undertake not to involve HERO in their dispute. 

13. Termination 

HERO may terminate your account at any time, with or without notice, for conduct that is in breach of this Agreement, for conduct that it believes is harmful to its business, or for conduct where the use of the Service is harmful to any other party or the public in general.

14. Intellectual Property Rights 

Unless stated otherwise, the software required for Services or available at or used by the Platform and the intellectual property rights (including the copyright) of the contents and information of and material on the Platform are owned by HERO. 

Any unlawful use of the software, graphics, data, information, photos, sound, music, video in the Platform shall constitute a material infringement of our intellectual property rights and is subject to appropriate proceedings and penalties provided by law. 

15. Fees and Taxes 

HERO shall charge the Service Users and third-party Service Providers for the use of its App, subject to the applicable taxes imposed under Philippine laws. It is understood, that HERO may, from time to time, impose additional fees to its Service Users as it may deem necessary. 

16. Complete Agreement 

Except as expressly provided in a separate written agreement between you and HERO, these terms constitute the entire agreement between you and HERO with respect to the use of the platform and the service provided. 

17. Governing Law & Venue 

The rights and obligations of the parties pursuant to this Agreement are governed by, and shall be construed in accordance with, the laws of the Philippines. Any and all kinds of claims or disputes shall be resolved by the appropriate courts of Mandaluyong City.

18.	Data Privacy

HERO recognizes its responsibilities under Republic Act No. 10173 (Act), also known as the Data Privacy Act of 2012, with respect to the data collected, recorded, organized, updated, used, consolidated or deleted from the Service Users and third party Service Providers. The personal data obtained from this platform is entered and stored within the App’s authorized information and communications system and will only be accessed by the company’s authorized personnel. HERO has instituted appropriate, organizational, technical and physical security measures to ensure the protection of the Service Users and third party Service Provider’s personal data, as required by the Act.

    </ion-card-content>
  </ion-card>
</ion-content>
