
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="body">
    <ion-row class="text-center">
      <ion-col>
        <img src="../../assets/img/header-logo.png" class="logo">
        <button class="signout-btn" (click)="logout()">Signout</button>
      </ion-col>
    </ion-row>
    <ion-row class="user">
      <ion-col>
        <img class="img" src="{{photo}}"><br>
        <span class="label">Welcome Back</span><br>
        <span class="name" *ngIf="user != undefined">{{ profile["first_name"]  }}</span><br>
      </ion-col>
    </ion-row>

    <span class="service-label" (click)="tapBack()">
      <ion-icon slot="start" name="arrow-back"></ion-icon> {{title}}
    </span>
  </div>  

    <ion-list lines="none">
      <ion-item *ngFor="let category of categories" (click)="tapCategory(category)" detail="false">
        <ion-icon slot="start" name="{{category.icon}}" class="with-border"></ion-icon>
        <ion-label text-wrap><strong>{{category.name}}</strong><br><span class="info">{{category.description}}</span></ion-label>
        <ion-icon *ngIf="category.services.length" slot="end" name="add-circle" class="arrow"></ion-icon>
      </ion-item>  
    </ion-list>
</ion-content>
