:host {

  $brown: #64492e;
  $lbrown: #c0976b;
  $dark-blue: #101622;
  $bg-blue: #141c2f;
  $gradient-blue: #233951;
  $menu-blue: #101622;
  $item-blue: #314e70;
  $blue: #2d4b67;
  $gold: #d9a978;

  ion-content {
    .body {
      min-height:100%;
      background:linear-gradient(0deg,rgba(20,28,47,.8),rgba(20,28,47,.9)),url('../../assets/img/bg-img-sm.png');
      background-size:cover;
      width: 100%;
    }

    .btn {
      border-radius: 40px;
      display: block;
      width: 90%;
      margin: 5px auto;
      padding: 10px;
      font-size: 12pt;
    }

    .btn-login {
      border: 2px solid $gold;
      background: $gold;
      color: $brown;
    }

    .custom-loader-class {
      --background: none;
    }

    .btn-signup {
      background: none;
      border: 2px solid $gold;
      color: #eee;
    }

    .form-field {
      padding: 0 20px;
      color: $gold;
      margin-bottom: 20px;

      .icon {
        margin-bottom: -12px;
      }

      .field {
        border-bottom: 1px solid $gold;
      }
    }
      
  .login {
    .logo-wrap {
      text-align: center;

      .logo {
        margin-top: 20px;
        width: 140px;
      }

      .label {
        padding: 4px 30px;
        border-radius: 10px;
        background: $dark-blue;
        color: $gold;
        font-size: 12pt;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
      
  } 

  }

}