.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.icon-inner {
	background: red;
}

:host {
	.body {
  		// --background: url('https://images.pexels.com/photos/1432942/pexels-photo-1432942.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat 100% 100%;
	  	// min-height:100%;
		background:linear-gradient(0deg,rgba(199,44,60,.8),rgba(199,44,60,.9)),url('../../assets/img/bg-img-sm.png');
		background-size:cover;
		width: 100%;
		// --background: url('../../assets/img/bg-img-sm.png') no-repeat 100% 100%;
  	}
  	
	.logo {
		width: 200px;
		margin-top: -5px;
		margin-left: -8px;
	}

	.signout-btn {
		padding: 3px 8px;
		border-radius: 10px;
		background: #A32729;
		color: #F8A650;
		font-size: 9pt;
		float: right;
	}

	.user {
		text-align: center;
		margin-top: -30px;
		margin-bottom: 20px;

		.img {
			height: 100px;
			width: 100px;
			border-radius: 50%;
			border: 4px solid #D94B38;
			margin: 0 auto;
		}

		.label {
			margin-bottom: -10px;
			display: block;
			color: #F8A650;
			font-size: 8pt;
		}

		.name {
			padding: 2px 25px;
			border-radius: 10px;
			background: #A32729;
			color: #F8A650;
			font-size: 14pt;
		}
	}
	
	ion-content {
		--background: #DA393C;	
	}

	.service-label {
		margin-left: 10px;
		border-radius: 0 20px 0 0;
		background: #F2AA49;
		padding: 4px 15px 4px 10px;
		color: #333;
		font-size: 9pt;
	}

	ion-list {
		padding: 10px;
		background: linear-gradient(to bottom, rgb(179,44,51) 0%,rgb(239,71,58) 100%);
	}

    ion-item {
        --background: linear-gradient(to right, rgb(219,55,56) 0%,rgb(227,94,59) 100%);
        --border-radius: 50px 50px 10px 50px;
        --color: #F3AC52;
        margin-bottom: 5px;

        ion-icon.arrow {
        	color: #F2AA49;
        	margin-left: 2px;
        }

        ion-icon.with-border {
        	border-radius: 50px;
        	border: 5px solid #C22E2E;
        	background: #C22E2E;
        	color: #F3AC52;
        	margin-right: 10px;
        }

        ion-label {
        	line-height: 15px;

        	.info {
        		color: #fff;
        		font-size: 8pt;
        	}
        }
    }
}
