
<ion-tabs>
  <!-- <div class="circle"></div> -->

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="service">
      <ion-icon name="person"></ion-icon>
      <!-- <ion-label>Tab One</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="service">
      <ion-icon name="menu"></ion-icon>
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="service" class="home-tab"> 
      <!-- <ion-icon name="add-circle" style="font-size: 39pt; color: #F2AA49"></ion-icon> -->
      <ion-icon name="home" class="home-btn"></ion-icon>
      <!-- <ion-label>Tab Three</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="service">
      <ion-icon name="notifications"></ion-icon>
      <!-- <ion-label>Tab Four</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="service">
      <ion-icon name="help-circle"></ion-icon>
      <!-- <ion-label>Tab Four</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
