
:host {
	$brown: #64492e;
	$lbrown: #c0976b;
	$dark-blue: #101622;
	$bg-blue: #141c2f;
	$gradient-blue: #233951;
	$menu-blue: #101622;
	$item-blue: #314e70;
	$blue: #2d4b67;
	$gold: #d9a978;

	.circle {
		background: $gold;
		height: 20px;
		border-bottom-left-radius: 50%;
  		border-bottom-right-radius: 50%;
		// border-: 50%;
		padding:0;
		margin-bottom: -13px;
		margin-top: -13px;
		z-index: 50 !important;
	}

	ion-tabs {
		border-radius: 50%/100px 100px 0 0;
		// z-index: 1 !important;

		.home-tab {
			// z-index: 400 !important;
		}
		
		ion-tab-button {
			background: $menu-blue;
			// z-index: 1 !important;

			ion-icon {
				color: $item-blue;
			}

			ion-label {
				color: $item-blue;
			}

			.home-btn {
				color: $brown;
				background: $gold;
				border: 4px solid $gold;
				// font-size: 21pt;
				border-radius: 50%;
				padding: 5px;
				margin-top: -5px;
			}
		}
	}

}