
<ion-tabs>
  <!-- <div class="circle"></div> -->

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="job">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" class="home-tab"> 
      <!-- <ion-icon name="add-circle" style="font-size: 39pt; color: #F2AA49"></ion-icon> -->
      <ion-icon name="home" class="home-btn"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="help-circle"></ion-icon> 
      <ion-label>Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
