
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullingText="Release to refresh"
      refreshingSpinner="crescent"
      >
    </ion-refresher-content>
  </ion-refresher>
  <div class="body">
    <ion-row>
      <ion-col col-6><img src="../../assets/img/header-logo.png" class="logo"></ion-col>
      <ion-col col-6><button class="signout-btn" (click)="logout()">Signout</button></ion-col>
    </ion-row>
    <ion-row class="user">
      <ion-col col-12>
        <img class="img" src="{{photo}}"><br>
        <span class="label">Welcome</span><br>
        <span class="name" *ngIf="user != undefined">{{ profile["first_name"]  }}</span><br>
      </ion-col>
    </ion-row>

    <span class="service-label" (click)="tapBack()">
      <ion-icon slot="start" name="arrow-back"></ion-icon> {{title}}
    </span>
  </div>  
  
  <ion-list lines="none" *ngIf="option.enable_quote == 'No'">
    <ion-row></ion-row>
    <ion-row padding class="form-header"><ion-col class="text-center">Rate per Hour</ion-col></ion-row>
    <ion-row padding class="field-wrap">
      <ion-label class="field-label"><ion-icon name="add" class="field-icon"></ion-icon></ion-label>
      <ion-input  type="number" class="field" [(ngModel)]="heroOption.pay_per" placeholder="Input Rate"></ion-input>
    </ion-row>

    <button class="btn btn-login" (click)="tapNext()" >SAVE</button>
    <button *ngIf="this.optionExist" class="btn btn-transparent" (click)="tapRemove()" >DELETE</button>

  </ion-list>
    
</ion-content>
