:host {

	$light-gray: #F2F2F2;
	$maroon: #A32528;
	$yellow: #F6AE58;
	$red: #DC3B48;
	$dark: #A1722E;
	$green: #C9D645;
	$font: 'Palanquin', sans-serif;
	$brown: #64492e;
	$lbrown: #c0976b;
	$dark-blue: #101622;
	$bg-blue: #141c2f;
	$gradient-blue: #233951;
	$menu-blue: #101622;
	$item-blue: #314e70;
	$blue: #2d4b67;
	$gold: #d9a978;

	.body {
		background:linear-gradient(0deg,rgba(16,22,34,.8),rgba(16,22,34,.9)),url('../../assets/img/bg-img-sm.png');
		background-size:cover;
		width: 100%;
  	}

  	.text-center {
  		text-align: center;
  	}
  	
	.logo {
		width: 120px;
		margin: 0 auto;
		margin-top: -5px;
	}

	.signout-btn {
		padding: 3px 8px;
		border-radius: 10px;
		background: $dark-blue;
		color: $gold;
		font-size: 9pt;
		position: absolute;
		top: 10px;
		right: 5px
	}

	.user {
		text-align: center;
		margin-bottom: 20px;

		.img {
			height: 100px;
			width: 100px;
			border-radius: 50%;
			border: 4px solid $lbrown;
			margin: 0 auto;
		}

		.label {
			margin-bottom: -10px;
			display: block;
			color: $gold;
			font-size: 8pt;
		}

		.name {
			padding: 2px 25px;
			border-radius: 10px;
			background: $dark-blue ;
			color: $gold;
			font-size: 14pt;
		}
	}
	
	ion-content {
		--background: $dark-blue;	
	}
	ion-refresher {
		background: #fff;
	}

	ion-refresher-content {
		color: #fff;
	}

	.service-label {
		margin-left: 10px;
		border-radius: 0 20px 0 0;
		background: $gold;
		padding: 5px 20px 5px 10px;
		color: $brown;
		font-size: 9pt;
	}

	ion-list {
		padding: 10px;
		background: linear-gradient(to bottom, $bg-blue 0%,$gradient-blue 100%);
		border-top: 1px dashed $gold;
		min-height: 80%;
	}

    .field {
		background: $item-blue;
		color: $gold;
		border-radius: 5px 0 0 5px;
		width: 82%;
   		margin-top: 0px;
	}
	.field-label {
		background: $gold;
		width: 40px;
		border-radius: 0 5px 5px 0;
	}

	.field-wrap {
		margin-top: -15px;
	}

	.field-icon {
		font-size: 15pt;
		color: $brown;
		margin: 8px 0 0 10px; 
	}

	.field-date {
		background: $item-blue;
		width: 82%;
		color: $gold;
		border-radius: 5px 0 0 5px;
	}

	.form-header {
		color: $gold;
		font-weight: bold;
	}

	.text-center {
		text-align: center;
	}

	.form-bar {
		padding: 0 90px;
		// margin-bottom: -10px;
		margin-top: 15px;
	}

	.btn {
  		border-radius: 40px;
  		display: block;
  		width: 70%;
  		margin: 5px auto;
  		padding: 7px;
  		font-size: 10pt;
  	}

	.btn-login {
  		border: 2px solid $gold;
  		background: $gold;
  		color: $brown;
  	}

  	.btn-signup {
      background: none;
      border: 2px solid $gold;
      color: #eee;
    }

	.progress {
	  display: inline-flex;
	  align-items: center;
	  counter-reset: step;
	  padding: 0;
	  margin: 0;
	  width: 100%;
	  color: $light-gray;
	  font-family: $font;
	  list-style: none;
	  text-transform: uppercase;
	  
	  &__circle {
	    width: 15px;
	    height: 15px;
	    border: 3px solid $gold;
	    border-radius: 50%;
	    display: flex;
	    align-items: center; 
	    flex-flow: column nowrap;
	 
	    &:before {
	    }
	    
	    &:after {
	    }
	  }
	  
	  &__bar {
	    flex: 1;
	    height: 4px;
	    background: $gold;
	  }
	  
	  &--done {
	    background: $gold;
	  }
	  
	  &--active {
	    border: 3px solid $gold;
	    color: $item-blue;
	  }
	}
}
