
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="body">
    <ion-row class="text-center">
      <ion-col>
        <img src="../../assets/img/header-logo.png" class="logo">
        <button class="signout-btn" (click)="logout()">Signout</button>
      </ion-col>
    </ion-row>
    <ion-row class="user">
      <ion-col col-12>
        <img class="img" src="{{photo}}"><br>
        <span class="label">Welcome Back</span><br>
        <span class="name" *ngIf="user != undefined">{{ profile["first_name"]  }}</span><br>
      </ion-col>
    </ion-row>

    <span class="service-label" (click)="tapBack()">
      <ion-icon slot="start" name="arrow-back"></ion-icon> {{title}}
    </span>
  </div>  
  
  <ion-list lines="none">
    <!-- <ion-row padding class="form-bar">
      <ul class="progress">
        <li class="progress__circle progress--active progress--done"></li>
        <li class="progress__bar"></li>
        <li class="progress__circle"></li>
        <li class="progress__bar"></li>
        <li class="progress__circle"></li>
      </ul>
    </ion-row> -->
    <ion-row></ion-row>
    <ion-row padding class="field-wrap">
      <ion-input class="field" [(ngModel)]="heroService.pay_per" placeholder="Pay per {{pay_type}}"></ion-input>
      <ion-label class="field-label"><ion-icon name="add" class="field-icon"></ion-icon></ion-label>
    </ion-row>

    <button class="btn btn-login" (click)="tapNext()" >NEXT</button>
    <button *ngIf="this.serviceExist" class="btn btn-signup" (click)="tapRemove()" >Delete</button>

  </ion-list>
    
</ion-content>
