.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.icon-inner {
	background: red;
}

:host {

	$light-gray: #F2F2F2;
	$maroon: #A32528;
	$yellow: #F6AE58;
	$red: #DC3B48;
	$dark: #A1722E;
	$green: #C9D645;
	$font: 'Palanquin', sans-serif;

	.body {
  		// --background: url('https://images.pexels.com/photos/1432942/pexels-photo-1432942.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat 100% 100%;
	  	// min-height:100%;
		background:linear-gradient(0deg,rgba(199,44,60,.8),rgba(199,44,60,.9)),url('../../assets/img/bg-img-sm.png');
		background-size:cover;
		width: 100%;
		// --background: url('../../assets/img/bg-img-sm.png') no-repeat 100% 100%;
  	}
  	
	.logo {
		width: 200px;
		margin-top: -5px;
		margin-left: -8px;
	}

	.signout-btn {
		padding: 3px 8px;
		border-radius: 10px;
		background: #A32729;
		color: #F8A650;
		font-size: 9pt;
		float: right;
	}

	.user {
		text-align: center;
		margin-top: -30px;
		margin-bottom: 20px;

		.img {
			height: 100px;
			width: 100px;
			border-radius: 50%;
			border: 4px solid #D94B38;
			margin: 0 auto;
		}

		.label {
			margin-bottom: -10px;
			display: block;
			color: #F8A650;
			font-size: 8pt;
		}

		.name {
			padding: 2px 25px;
			border-radius: 10px;
			background: #A32729;
			color: #F8A650;
			font-size: 14pt;
		}
	}
	
	ion-content {
		--background: #DA393C;	
	}

	.service-label {
		margin-left: 10px;
		border-radius: 0 20px 0 0;
		background: #F2AA49;
		padding: 4px 15px 4px 10px;
		color: #333;
		font-size: 9pt;
	}

	ion-list {
		padding: 10px;
		background: linear-gradient(to bottom, rgb(179,44,51) 0%,rgb(239,71,58) 100%);
	}

    .field {
		background: #C12F2F;
		color: #F5AB4A;
		border-radius: 5px 0 0 5px;
	}
	.field-label {
		background: #F5AB4A;
		width: 40px;
		border-radius: 0 5px 5px 0;
	}

	.field-wrap {
		margin-top: -15px;
	}

	.field-icon {
		font-size: 15pt;
		color: $dark;
		margin: 8px 0 0 10px; 
	}

	.form-header {
		color: $yellow;
		font-weight: bold;
	}

	.text-center {
		text-align: center;
	}

	.form-bar {
		padding: 0 90px;
		margin-top: -10px;
	}

	.btn {
  		border-radius: 40px;
  		display: block;
  		width: 70%;
  		margin: 5px auto;
  		padding: 7px;
  		font-size: 10pt;
  	}

	.btn-login {
  		border: 2px solid #F4AC4A;
  		background: #F4AC4A;
  		color: #333;
  	}

	.progress {
	  display: inline-flex;
	  align-items: center;
	  counter-reset: step;
	  padding: 0;
	  margin: 0;
	  width: 100%;
	  color: $light-gray;
	  font-family: $font;
	  list-style: none;
	  text-transform: uppercase;
	  
	  &__circle {
	    width: 15px;
	    height: 15px;
	    border: 3px solid $maroon;
	    border-radius: 50%;
	    display: flex;
	    align-items: center; 
	    flex-flow: column nowrap;
	 
	    &:before {
	    }
	    
	    &:after {
	    }
	  }
	  
	  &__bar {
	    flex: 1;
	    height: 4px;
	    background: $maroon;
	  }
	  
	  &--done {
	    background: $yellow;
	  }
	  
	  &--active {
	    border: 3px solid $maroon;
	    color: $red;
	  }
	}
}
