
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullingText="Release to refresh"
      refreshingSpinner="crescent"
      >
    </ion-refresher-content>
  </ion-refresher>
  <div class="body">
    <ion-row class="text-center">
      <ion-col>
        <img src="../../assets/img/header-logo.png" class="logo">
        <button class="signout-btn" (click)="logout()">Signout</button>
      </ion-col>
    </ion-row>
    <ion-row class="user">
      <ion-col col-12>
        <img class="img" src="{{photo}}"><br>
        <span class="label">Welcome</span><br>
        <span class="name" *ngIf="user != undefined">{{ profile["first_name"]  }}</span><br>
      </ion-col>
    </ion-row>

    <span class="service-label" (click)="tapBack()">
      <ion-icon slot="start" name="arrow-back"></ion-icon> {{title}}
    </span>
  </div>  
  
  <ion-list lines="none">
    <ion-row></ion-row>
    <div>

      <ion-row padding class="form-header"><ion-col class="text-center">Customer Information</ion-col></ion-row>

      <ion-row padding class="field-wrap">
        <span class="field-text">Name</span>
        <ion-label class="field-label"><ion-icon name="person" class="field-icon"></ion-icon></ion-label>
        <ion-input [readonly]="true" class="field" [(ngModel)]="customer_info.name" placeholder="Name"></ion-input>
      </ion-row>

      <ion-row padding class="field-wrap">
        <span class="field-text">Address</span>
        <ion-label class="field-label"><ion-icon name="pin" class="field-icon"></ion-icon></ion-label>
        <ion-textarea [readonly]="true" [(ngModel)]="customer_info.address" placeholder="Address" class="field" ></ion-textarea>
      </ion-row>

      <button *ngIf="status == 'Pending'" class="btn btn-signup" (click)="chatHero()" >CHAT CLIENT</button>


      <!-- <ion-row padding class="field-wrap">
        <span class="field-text">Contact</span>
        <ion-label class="field-label"><ion-icon name="call" class="field-icon"></ion-icon></ion-label>
        <ion-input [readonly]="true" class="field" [(ngModel)]="customer_info.contact" placeholder="Contact"></ion-input>
      </ion-row> -->
    </div>
    <!-- <div *ngIf="heroExist">
      <ion-row padding class="form-header"><ion-col class="text-center">Hero Provider</ion-col></ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Name</span>
        <ion-label class="field-label"><ion-icon name="person" class="field-icon"></ion-icon></ion-label>
        <ion-input [readonly]="true" class="field" value="{{profile.first_name}} {{profile.last_name}}"></ion-input>
      </ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Payment</span>
        <ion-label class="field-label"><ion-icon name="cash" class="field-icon"></ion-icon></ion-label>
        <ion-input [readonly]="true" class="field" value="{{job.amount}}"></ion-input>
      </ion-row>
    </div> -->

    <div *ngIf="formExist">
      <ion-row padding class="form-header"><ion-col class="text-center">Job Details</ion-col></ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Job</span>
        <ion-label class="field-label"><ion-icon name="{{form.option.icon}}" class="field-icon"></ion-icon></ion-label>
        <ion-input [readonly]="true" class="field" value="{{form.option.name}}"></ion-input>
      </ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Status</span>
        <ion-label class="field-label"><ion-icon name="analytics" class="field-icon"></ion-icon></ion-label>
        <ion-input [readonly]="true" class="field" value="{{job.status}}"></ion-input>
      </ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Schedule Date</span>
        <ion-label class="field-label"><ion-icon name="calendar" class="field-icon"></ion-icon></ion-label>
        <ion-input [readonly]="true" class="field" value="{{job.schedule_date}}"></ion-input>
      </ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Schedule Time</span>
        <ion-label class="field-label"><ion-icon name="clock" class="field-icon"></ion-icon></ion-label>
        <ion-input [readonly]="true" class="field" value="{{job.schedule_time}}"></ion-input>
      </ion-row>
    </div>

    <div *ngFor="let a of attributes">
      <ion-row padding class="form-header"><ion-col class="text-center">{{a.title}}</ion-col></ion-row>
      <ion-row padding class="field-wrap" *ngFor="let field of a.fields">
        <span class="field-text">{{field.label}}</span>
        
        <ion-label class="field-label"><ion-icon name="{{field.icon}}" class="field-icon"></ion-icon></ion-label>
        
        <ion-input [readonly]="true" *ngIf="field.type == 'text'" class="field" [(ngModel)]="field.input" placeholder="{{field.label}}"></ion-input>
        <ion-datetime [readonly]="true" *ngIf="field.type == 'date'" [(ngModel)]="field.input" display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY" placeholder="{{field.label}}" class="field-date"></ion-datetime>
        <ion-datetime [readonly]="true" *ngIf="field.type == 'time'" [(ngModel)]="field.input" display-format="hh:mm a" picker-format="hh:mm a" placeholder="{{field.label}}" class="field-date"></ion-datetime>
        <ion-textarea [readonly]="true" *ngIf="field.type == 'textarea'" [(ngModel)]="field.input" placeholder="{{field.label}}" class="field" ></ion-textarea>
        <ion-select [disabled]="true" *ngIf="field.type == 'dropdown'" [(ngModel)]="field.input" placeholder="{{field.label}}" class="field" >
          <ion-select-option *ngFor="let select of field.values" value="{{select}}">{{select}}</ion-select-option>
        </ion-select>
      </ion-row>
    </div>

    <button *ngIf="status == 'For Confirmation'" class="btn btn-login" (click)="tapConfirm()" >CONFIRM</button>
    <button *ngIf="status == 'Pending'" class="btn btn-login" (click)="tapStartJob()" >START JOB</button>
    <button *ngIf="status == 'In Progress'" class="btn btn-login" (click)="tapDone()" >JOB DONE</button>
    <button *ngIf="enableNoshow" class="btn btn-signup" (click)="tapNoShow()" >NO SHOW</button>
    <button *ngIf="status == 'For Confirmation' || status == 'Pending'" class="btn btn-signup" (click)="tapDeny()" >CANCEL JOB</button>

    <button *ngIf="status == 'Waiting for Payment' || status == 'Paid'" class="btn btn-login" (click)="tapRecievedCash()" >Recieved Cash</button>
    <button *ngIf="status == 'Completed'" class="btn btn-login" (click)="tapReview()" >Write a Review</button>

  </ion-list>
    
</ion-content>
