
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="body">
    <ion-row class="text-center">
      <ion-col>
        <img src="../../assets/img/header-logo.png" class="logo">
        <button class="signout-btn" (click)="logout()">Signout</button>
      </ion-col>
    </ion-row>
    <ion-row class="user">
      <ion-col col-12>
        <img class="img" src="{{photo}}"><br>
        <span class="label">Welcome Back</span><br>
        <span class="name" *ngIf="user != undefined">{{ profile.first_name  }}</span><br>
      </ion-col>
    </ion-row>

    <span class="service-label" (click)="tapMyProfile()" [ngClass]="page=='profile' ? 'active-tab' : ''">
      <ion-icon name="person"></ion-icon>
    </span>
    <span class="service-label" (click)="tapMyPhoto()" [ngClass]="page=='photo' ? 'active-tab' : ''">
      <ion-icon name="camera"></ion-icon>
    </span>
    <span class="service-label" (click)="tapMyAddress()" [ngClass]="page=='address' ? 'active-tab' : ''">
      <ion-icon name="pin"></ion-icon>
    </span>
    <span class="service-label" (click)="tapMyContact()" [ngClass]="page=='contact' ? 'active-tab' : ''">
      <ion-icon name="call"></ion-icon>
    </span>
  </div>  
  
  <ion-list lines="none" *ngIf="page=='profile'">
    <div class="field-outer-wrap">
      <ion-row padding class="form-header"><ion-col class="text-center">My Profile</ion-col></ion-row>
      <ion-row padding class="field-wrap">
      	<span class="field-text">First Name</span>
        <ion-input class="field" [(ngModel)]="profile.first_name" placeholder="First Name"></ion-input>

        <ion-label class="field-label"><ion-icon name="person" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
      	<span class="field-text">Middle Name</span>
        <ion-input class="field" [(ngModel)]="profile.middle_name" placeholder="Middle Name"></ion-input>
        <ion-label class="field-label"><ion-icon name="person-add" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
      	<span class="field-text">Last Name</span>
        <ion-input class="field" [(ngModel)]="profile.last_name" placeholder="Last Name"></ion-input>
        <ion-label class="field-label"><ion-icon name="people" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
      	<span class="field-text">Gender</span>
        <ion-select  [(ngModel)]="profile.gender" placeholder="Gender" class="field" >
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
        </ion-select>
        <ion-label class="field-label"><ion-icon name="transgender" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
      	<span class="field-text">Birthday</span>
        <ion-datetime [(ngModel)]="profile.birthday" display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY" placeholder="Birthday" class="field-date"></ion-datetime>
        <ion-label class="field-label"><ion-icon name="calendar" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
      	<span class="field-text">Photo</span>
        <ion-input class="field" [(ngModel)]="profile.photo" placeholder="Photo"></ion-input>
        <ion-label class="field-label"><ion-icon name="image" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      
    </div>

    <button class="btn btn-login" (click)="tapUpdate()" >UPDATE</button>

  </ion-list>
 
  <ion-list *ngIf="page == 'photo'">
    <ion-item *ngFor="let img of images; index as pos" text-wrap>
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ img.name }}
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="startUpload(img)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-toolbar color="primary">
	    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
	      <ion-icon slot="start" name="camera"></ion-icon>
	      Add Photo</ion-button>
	  </ion-toolbar>
  </ion-list>
  
  <ion-list *ngIf="page == 'address'">
    <div class="field-outer-wrap">
      <ion-row padding class="form-header"><ion-col class="text-center">My Address</ion-col></ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Street</span>
        <ion-input class="field" [(ngModel)]="address.street" placeholder="Street"></ion-input>

        <ion-label class="field-label"><ion-icon name="home" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
        <span class="field-text">City</span>
        <ion-input class="field" [(ngModel)]="address.city" placeholder="City"></ion-input>
        <ion-label class="field-label"><ion-icon name="pin" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
        <span class="field-text">Province</span>
        <ion-input class="field" [(ngModel)]="address.province" placeholder="Province"></ion-input>
        <ion-label class="field-label"><ion-icon name="map" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
        <span class="field-text">Country</span>
        <ion-input class="field" [(ngModel)]="address.country" placeholder="Country"></ion-input>
        <ion-label class="field-label"><ion-icon name="planet" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
        <span class="field-text">Zip</span>
        <ion-input class="field" [(ngModel)]="address.zip" placeholder="Zip"></ion-input>
        <ion-label class="field-label"><ion-icon name="more" class="field-icon"></ion-icon></ion-label>
      </ion-row>
      
    </div>

    <button class="btn btn-login" (click)="tapUpdateAddr()" >UPDATE</button>
  </ion-list>

  <ion-list *ngIf="page == 'contact'">
    <div class="field-outer-wrap">
      <ion-row padding class="form-header"><ion-col class="text-center">My Contact</ion-col></ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Dial Code</span>
        <ion-input class="field" [(ngModel)]="contact.dial_code" placeholder="Dial Code"></ion-input>

        <ion-label class="field-label"><ion-icon name="call" class="field-icon"></ion-icon></ion-label>
      </ion-row>

      <ion-row padding class="field-wrap">
        <span class="field-text">Number</span>
        <ion-input class="field" [(ngModel)]="contact.number" placeholder="Number"></ion-input>
        <ion-label class="field-label"><ion-icon name="phone-portrait" class="field-icon"></ion-icon></ion-label>
      </ion-row>
      
    </div>

    <button class="btn btn-login" (click)="tapUpdateContact()" >UPDATE</button>
  </ion-list>  
</ion-content>
