:host {

	$brown: #64492e;
	$lbrown: #c0976b;
	$dark-blue: #101622;
	$bg-blue: #141c2f;
	$gradient-blue: #233951;
	$menu-blue: #101622;
	$item-blue: #314e70;
	$blue: #2d4b67;
	$gold: #d9a978;

	.body {
		background:linear-gradient(0deg,rgba(16,22,34,.8),rgba(16,22,34,.9)),url('../../assets/img/bg-img-sm.png');
		background-size:cover;
		width: 100%;
  	}

  	.text-center {
  		text-align: center;
  	}
  	
	.logo {
		width: 120px;
		margin: 0 auto;
		margin-top: -5px;
	}

	.signout-btn {
		padding: 3px 8px;
		border-radius: 10px;
		background: $dark-blue;
		color: $gold;
		font-size: 9pt;
		position: absolute;
		top: 10px;
		right: 5px
	}

	.user {
		text-align: center;
		margin-bottom: 20px;

		.img {
			height: 100px;
			width: 100px;
			border-radius: 50%;
			border: 4px solid $lbrown;
			margin: 0 auto;
		}

		.label {
			margin-bottom: -10px;
			display: block;
			color: $gold;
			font-size: 8pt;
		}

		.name {
			padding: 2px 25px;
			border-radius: 10px;
			background: $dark-blue ;
			color: $gold;
			font-size: 14pt;
		}
	}
	
	ion-content {
		--background: $dark-blue;	
	}

	ion-refresher {
		background: #fff;
	}

	ion-refresher-content {
		color: #fff;
	}

	.service-label {
		margin-left: 10px;
		border-radius: 0 20px 0 0;
		background: $gold;
		padding: 5px 20px 5px 10px;
		color: $brown;
		font-size: 9pt;
	}

	.add-btn {
		color: $brown;
		background: $gold;
		border-radius: 50px;
        border: 2px solid $gold;
        margin-left: 3px;
        margin-bottom: -2px;
	}

	.pull-right {
		float: right;
	}


	ion-list {
		padding: 10px;
		background: linear-gradient(to bottom, $bg-blue 0%,$gradient-blue 100%);
		border-top: 1px dashed $gold;
		min-height: 80%;
		color: #fff;
	}

    ion-item {
        --background: linear-gradient(to right, rgb(35,59,85) 0%,rgb(49,78,112) 100%);
        // --background: $gold;
        --border-radius: 50px 50px 10px 50px;
        --color: $gold;
        margin-bottom: 5px;

        ion-icon.arrow {
        	color: $gold;
        	margin-left: 2px;
        }

        ion-icon.with-border {
        	border-radius: 50px;
        	border: 5px solid $bg-blue;
        	background: $bg-blue;
        	color: $gold;
        	margin-right: 10px;
        }

        ion-label {
        	line-height: 15px;

        	.info {
        		color: #fff;
        		font-size: 8pt;
        	}
        }
    }
}
